Repository HANGANGGAK/hanganggak, pull requests merged in 2022-09, with the labels that each got.

#4 한강공원 데이터 요청 API 개발
  server/.gitignore
  server/ecosystem.config.js
  server/package-lock.json
  server/package.json
  server/src/han-river/han-river.service.ts
  server/src/han-river/responses/congestion.dto.ts
  server/src/han-river/responses/day-weather.dto.ts
  server/src/han-river/responses/live-weather.dto.ts
  server/src/han-river/responses/road-traffic.dto.ts
  server/src/main.ts
  server/test/app.e2e-spec.ts
  server/test/jest-e2e.json
Labels: feature

#5 #3 지도 구현
  client/components/map/Map.tsx
  client/components/map/index.ts
  client/components/map/mapContext.ts
  client/package.json
  client/pages/_app.tsx
  client/pages/index.tsx
Labels: feature

#8 #7 Fix typo
  server/src/han-river/responses/congestion.dto.ts
Labels: chore, server

#10 Feature/issue 9 express rate limit
  server/package-lock.json
  server/package.json
  server/src/main.ts
Labels: server, feature

#11 Delete test file
  server/src/app.controller.spec.ts
Labels: chore, server

#15 #14 Add landing page API
  server/src/han-river/han-river.controller.ts
  server/src/han-river/han-river.service.ts
Labels: server, feature
