Repository HANGANGGAK/hanganggak, pull requests merged in 2022-10, with the labels that each got.

#13 Feature/#6 api call
  client/.gitignore
  client/.idea/.gitignore
  client/assets/map.png
  client/components/info/Info.tsx
  client/components/search/Search.tsx
  client/next.config.js
  client/package.json
  client/pages/_app.tsx
  client/pages/api/hello.ts
  client/pages/index.tsx
  client/service/api.ts
  client/service/commonDto.ts
  client/service/info.ts
Labels: feature

#23 #22 Use asynchronous function and modify response data
  server/src/han-river/han-river.service.ts
Labels: refactor, server

#26 [Refactor] Change config package
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/han-river/han-river.service.ts
  server/src/main.ts
Labels: refactor, server

#27 Refactor/issue 20 refacotring map component
  client/components/common/HeadMeta.tsx
  client/components/common/Header.tsx
  client/components/common/Loading.tsx
  client/components/info/Info.tsx
  client/components/map/Map.tsx
  client/components/map/mapContext.ts
  client/components/search/Search.tsx
  client/next.config.js
  client/package.json
  client/pages/_app.tsx
  client/pages/_document.tsx
  client/pages/index.tsx
  client/service/info.ts
  client/stores/mapInfo.ts
  client/stores/modal.ts
Labels: refactor, client, question, feature

#29 [feature] add sitemap, modify info
  client/ .prettierrc.js
  client/assets/cancel.png
  client/components/info/Info.tsx
  client/package.json
  client/pages/_app.tsx
  client/pages/index.tsx
  client/service/info.ts
  client/sitemap.xml
Labels: feature
